{% extends "layout.html" %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">그래프-트렌드</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">홈</a></li>
            <li class="breadcrumb-item active">그래프-트렌드</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>메시지 휫수 기록</div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>관련 해시 태그</div>
                    <div class="card-body">
                        <canvas id="myBarChart" width="100%" height="50"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>SNS따라 메시지 비율</div>
                    <div class="card-body">
                        <canvas id="myDonutChart" width="100%" height="50"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block importscripts %}
<script src="../static/dist/assets/demo/chart-donut.js"></script>
<script src="../static/dist/assets/demo/chart-bar-demo.js"></script>
<script src="../static/dist/assets/demo/chart-area-demo.js"></script>
<script>
    // update times
    var dt = new Date();
    var els = document.getElementsByClassName('card-footer small text-muted');
    Array.from(els).forEach((el) => {
        el.innerHTML = "Updated at: " + dt.toLocaleString();
    }
    );

</script>
{% endblock%}